{% extends 'base.html.twig' %}
{% block title %}{% trans %}perfilusuario{% endtrans %} - MotoCampeonas{% endblock %}
{% block tituloContenido %}{% trans %}perfilusuario{% endtrans %}{% endblock %}
{% block subtituloContenido %}{% endblock %}

{% block cookies %}{% endblock %}
{% block cuerpocontenido %}
   {% if is_granted('ROLE_USER') %}

   {% else %}
   <div class="alert alert-danger">
    <h1><code><center>{% trans %}accesoestadisticas{% endtrans %}</center></code></h1>
   </div>
   {% endif %}
{% endblock %}