<!DOCTYPE html>
<html lang="es">

    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Home - MotoCampeonas{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="">

    <script id='jQueryOnline' src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script id='jQuerylocal' src="JS/jquery-3.6.0.js"></script>
    
    {# <link id='cssBootstrapLocal' href='CSS/bootstrap.min.css' rel='stylesheet'> #}
    <link id='cssBootstrapOnline' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous'>
    
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX 
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    #}

    {#
    <script>
       var url = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
       function seleccionarCSS(url){
       var request = new XMLHttpRequest();
       request.
       request.onload = function() {
         status = request.status;
         if (request.status == 200) {
          $( 'title' ).after( "<link id='cssBootstrapOnline' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous'>" );
          $( 'title' ).after( "<script id='jsBootstrapOnline' src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous'></script>" );
         } else {
          $( 'title' ).after( "<link id='cssBootstrapLocal' href='CSS/bootstrap.min.css' rel='stylesheet'>" );
          $( 'title' ).after( "<script id='jsBootstrapLocal' src='JS/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous'></script>" );
         }
       }
       request.open("GET", url, true);   
       request.send();
       }
     seleccionarCSS(url);
     </script>
     
     <script>
     function reseteoFormulario() {
       document.getElementById("miFormulario").reset();
     }
     </script>
     #}

    </head>

    <body>

    {{ include ('menu.html.twig') }}

    {% block imagenes %}
        
    {% endblock %}

    {% block contenido %}
        
    {% endblock %}

    {{ include ('pieDePagina.html.twig') }}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
    </body>

</html>
