{# https://mdbootstrap.com/docs/standard/navigation/footer/ #}

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->

<section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <div>
      <p>Herramientas y tecnologías usadas:</p>
      <a href="https://code.visualstudio.com/" class="me-4 text-reset">
        <i class="fab fa-facebook-f">Visual Studio Code</i>
      </a>
      <a href="https://symfony.com/" class="me-4 text-reset">
        <i class="fab fa-facebook-f">Symfony</i>
      </a>
      <a href="https://www.doctrine-project.org/" class="me-4 text-reset">
        <i class="fab fa-facebook-f">Doctrine</i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter">PHP</i>
      </a>
      <a href="https://getcomposer.org/" class="me-4 text-reset">
        <i class="fab fa-google">Composer</i>
      </a>
      <a href="https://es.wikipedia.org/wiki/JavaScript" class="me-4 text-reset">
        <i class="fab fa-facebook-f">JavaScript</i>
      </a>
      <a href="https://getbootstrap.com/" class="me-4 text-reset">
        <i class="fab fa-instagram">Bootstrap</i>
      </a>
      <a href="https://jquery.com/" class="me-4 text-reset">
        <i class="fab fa-linkedin">jQuery</i>
      </a>
      <a href="https://git-scm.com/" class="me-4 text-reset">
        <i class="fab fa-github">Git</i>
      </a>
      <a href="https://github.com/" class="me-4 text-reset">
        <i class="fab fa-github">GitHub</i>
      </a>
      <a href="https://gitlab.com/" class="me-4 text-reset">
       <i class="fab fa-github">GitLab</i>
      </a>
      <a href="https://es.wikipedia.org/wiki/Red_de_distribuci%C3%B3n_de_contenidos" class="me-4 text-reset">
        <i class="fab fa-github">CDN</i>
      </a>
      <a href="https://en.wikipedia.org/wiki/Platform_as_a_service" class="me-4 text-reset">
        <i class="fab fa-github">Nube PaaS</i>
      </a>
      <a href="https://es.wikipedia.org/wiki/Modelo%E2%80%93vista%E2%80%93controlador" class="me-4 text-reset">
        <i class="fab fa-github">MVC</i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Proyecto MotoCampeonas
          </h6>
          <p>
           Proyecto de desarrollo software con el framework Symfony y su lenguaje de programación (PHP). Se trata de una aplicación web de información y colaboración, entre personas, sobre las mejores marcas de moto en las competiciones de los últimos años.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Referencias (DATOS)
          </h6>
          <p>
            <a href="https://www.mxgp.com/" class="text-reset">MXGP</a>
          </p>
          <p>
            <a href="https://www.motogp.com/" class="text-reset">MotoGP</a>
          </p>
          <p>
            <a href="https://www.worldsbk.com/es" class="text-reset">SBK</a>
          </p>
          <p>
            <a href="https://www.fim-moto.com/" class="text-reset">FIM</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Referencias (DISEÑO)
          </h6>
          <p>
            <a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/" class="text-reset">Bootstrap</a>
          </p>
          <p>
            <a href="https://www.w3schools.com/" class="text-reset">w3school</a>
          </p>
          <p>
            <a href="https://mdbootstrap.com/" class="text-reset">MDB</a>
          </p>
          <p>
           {#} <a href="#!" class="text-reset">Help</a> #}
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Referencias (CURSO)
          </h6> 
          {#
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          #}
          <p>
          <a href="https://cftic.centrosdeformacion.empleo.madrid.org/" class="text-reset">CFTIC</a>
          </p>
          <p>
          <a href="https://cas-training.com/" class="text-reset">CAS Training</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Actualizada a 2022 (despliegue en <a href="https://platform.sh/" class="text-reset">Platform.sh</a>)
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->