{#
    This template is used to render errors of type HTTP 500 (Internal Server Error)

    This is the simplest way to customize error pages in Symfony applications.
    In case you need it, you can also hook into the internal exception handling
    made by Symfony. This allows you to perform advanced tasks and even recover
    your application from some errors.
    See https://symfony.com/doc/current/controller/error_pages.html
#}

{% extends 'base.html.twig' %}

{% block title %}MotoCampeonas{% endblock %}

{% block cookies %}{% endblock %}

{% block contenido %}
  <div class="alert alert-danger">
    <h1><code><center>Error 500!</center></code></h1>
  </div>
  <div class="alert alert-info">
    <center><strong><a href="{{ path('vistaBienvenida') }}">{% trans %}mensajeerror{% endtrans %}</strong></center>.
  </div>
{% endblock %}
